body{
    background-color: #9DB2BF;
    
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  a {
    margin-top: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  
  a:hover {
    color: black;
    text-decoration: underline;
    font-weight:500;
  }
